/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    background-color: #0b0b0b; /* Fondo oscuro */
    color: #ffffff;           /* Texto blanco */
  }
  
  /* Sección principal (hero) */
  .hero {    /* Sección principal */
    display: flex;   /* Flexbox para centrar elementos */
    flex-wrap: wrap; /* Para que los elementos se acomoden en varias líneas */
    align-items: center; /* Centrar verticalmente */
    justify-content: space-around; /* Espacio entre elementos */
    padding: 2rem; /* Espacio interno */
    background-color: #000000; /* Un negro más intenso */
  }
  
  
  .hero-text { /* sección texto */
    max-width: 500px; 
    margin-bottom: 1rem; 
  }
  
  .hero-text h1 { 
    color: #ed145b;
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .hero-text h2 {
    font-size: 2rem;
    color: #ffffff; /* "Games" en blanco */
    margin-bottom: 1rem;
  }
  
  .hero-text p {
    font-size: 1rem;
    line-height: 1.5;
    color: #cccccc; /* Un gris claro para el texto */
  }
  
  .btn-view {
    background-color: #ffffff;
    color: #000000;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Imágen circular */
  .hero-images {
    display: flexbox;
    gap: 1rem;
  }
  
   
  .circle-img {
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ed145b;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Sección para agregar amigos */
  .add-friend-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    max-width: 600px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 1rem;
  }
  
  .input-group input {
    flex: 1;
    padding: 0.5rem;
    border: 2px solid #ffffff;
    border-radius: 4px 0 0 4px;
    font-size: 1rem;
  }
  
  .input-group select {
    width: 33.3%;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    border-left: none;
    border-radius: 0 4px 4px 0;
    font-size: 1rem;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
  }
  
  
  .add-friend-section h2 {
    color: #ed145b;
    margin-bottom: 1rem;
  }
  
  .add-friend-section button {
    background-color: #ed145b;
    color: #ffffff;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 1rem;
  }

  .add-friend-section button:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  .boton-group {
    background-color: #000000;
    color: #ffffff;
    padding: 0.2rem 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  /* Lista de amigos */
  .friend-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 2rem auto;
    max-width: 1200px;
  }
  
  .amigo {
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 120px;
  }
  
  .amigo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  
  .amigo p {
    font-size: 1rem;
    color: #ffffff;
  }

  /* Sección de ganador */
  .nombre-ganador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    max-width: 600px;
  }
  .nombre-ganador h3 {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    color: #ed145b;
  }

  .nombre-ganador p {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #ffffff;
  }

  .nombre-ganador button {
    width: 60%;
    background-color: #000000;
    color: #ffffff;
    padding: 0.6rem 1.2rem;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem;
    font-size: 1rem;
  }
  
  .nombre-ganador button:hover {
    background-color: #ffffff;
    color: #000000;
  }


